
.icon-star-empty:before { content: '\e800'; } /* '' */
.icon-star:before { content: '\e801'; } /* '' */
.icon-globe:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-tumblr:before { content: '\f173'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-windows:before { content: '\f17a'; } /* '' */
.icon-android:before { content: '\f17b'; } /* '' */
.icon-dribbble:before { content: '\f17d'; } /* '' */
.icon-wordpress:before { content: '\f19a'; } /* '' */
.icon-behance:before { content: '\f1b4'; } /* '' */
.icon-codeopen:before { content: '\f1cb'; } /* '' */
.icon-slideshare:before { content: '\f1e7'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-medium:before { content: '\f23a'; } /* '' */
.icon-vimeo:before { content: '\f27d'; } /* '' */