body{
	font-family: 'Poppins', Helvetica, sans-serif;
	font-size: 16px;
	color: #555;
	margin:0;
	padding:0;
	text-align:center;
	background-color: #fff;
}
a		{ color:#555; text-decoration: none; cursor: pointer; }
a:hover	{ color:#999; }
*:link, *:visited, *:hover, *:active, *:focus , * {
	-o-transition: color .20s linear, background-color .20s linear, border-color .20s linear;
	-webkit-transition: color .20s linear, background-color .20s linear, border-color .20s linear;
	-moz-transition: color .20s linear, background-color .20s linear, border-color .20s linear;
	transition: color .20s linear, background-color .20s linear, border-color .20s linear;
}
h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
	color: #333;
    font-family: 'Poppins', Helvetica, sans-serif;
}
h1	{ color: #fff; font-size: 3.5em; font-style: italic; }
h2	{ color: #625772; font-size: 2.5em; font-style: italic; margin-top: 0;}
h4	{ color: #ccc; font-size: 1.5em;}
p	{ color:#999; font-size:0.9em; margin:7px 0; line-height: 20px;}
select{
    border: 0 solid;
    font-family: 'Poppins', Helvetica, sans-serif;
	color: #555;
    padding: 0.3em;
}
img{ vertical-align: bottom;}


/* Sticky Wrapper */
.sticky-wrapper{ display: block;}

/*Mobile Btn*/
.mobileBtn{
	background-color: #7FDFD4;
	padding: 21px 10px;
	position: fixed;
	left: 15px;
	top: 15px;
	display: none;
	border-radius: 50%;
	box-sizing: border-box;
	box-shadow: 0 0 8px rgba(0,0,0,0.2);
	z-index: 4;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
}
.mobileBtn span, .mobileBtn span:before, .mobileBtn span:after{
	width: 24px;
	height: 2px;
	background-color: #fff;
	display: block;
	border-radius: 4px;
}
.mobileBtn span:before, .mobileBtn span:after{ content: ''; position: absolute;}
.mobileBtn span:before{margin-top: 8px;}
.mobileBtn span:after{margin-top: -8px;}
.mobileBtn.change{ left: calc(100vw - 54px);}
.mobileBtn.change span{ background-color: rgba(0, 0, 0, 0);}
.mobileBtn.change span:before{ margin-top: 0; -webkit-transform: rotate(-45deg); transform: rotate(-45deg);}
.mobileBtn.change span:after{ margin-top: 0; -webkit-transform: rotate(45deg); transform: rotate(45deg);}


.sticky-nav-overlay{
	background-color: rgba(0,0,0,0.8);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	z-index: 2;
	display: none;
}
.sticky-nav-container{
	background: #625772;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	display: inline-table;
	width: 320px;
	height: 100%;
	z-index: 100;
	-o-transition: all .30s linear;
	-webkit-transition: all .30s linear;
	-moz-transition: all .30s linear;
	transition: all .30s linear;
}
.nav-profile-box{ border-bottom: 1px solid rgba(255,255,255,0.08); margin: 20px; padding-bottom: 30px; }
.nav-profile-box p.title{ font-size: 1.2rem; color: #fff; line-height: 24px; letter-spacing: 0.5px; margin: 8px auto 4px; opacity: 0.5;}
.nav-profile-box p.s-title{ font-size: 0.85rem; color: #fff; font-weight: 300; line-height: 20px; margin-bottom: 8px; opacity: 0.3; }
.nav-profile-box .imgProfile { height: 80px; overflow: hidden;}
.social{ 
	margin: 12px auto 0; 
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.social:after{ content: ""; clear: both; display: table; }
.social-icon{ float: left; font-size: 20px; color: rgba(255,255,255,0.2); margin: 0 4px; }
.social-icon:hover{ color: rgba(255,255,255,0.5);}

.nav-profile-box .imgProfile img { width: 80px; height: 80px; border-radius: 50%;}
.wrapper-row{ padding:0 10px; text-align:center; }
.row-box	{  }
.language	{ margin-top: 20px;}

/* NavMenu */
.main-nav{
	position: relative;
	margin: 0 auto;
	padding: 0;
}
.main-nav ul{ margin: 0; padding: 0; list-style: none; }
.main-nav li{ padding: 0; cursor: pointer; }
.main-nav a{ 
	color: rgba(255,255,255,0.5); 
	font-size: 0.9rem; 
	line-height: 48px; 
	padding:0 20px; 
	display: block; 
}
.main-nav a:hover	{ color: rgba(255,255,255,1); }

.main-nav li ul		{ background: #2cb; position: absolute; min-width: 150px; height: auto; display: none; }
.main-nav li li			{ float: none; font-size: 0.9em; padding: 5px 10px; border-bottom: 1px solid #0ba; cursor: pointer; }
.main-nav li li:hover	{ background: #7dc; }
.main-nav li li a		{ padding: 0; line-height: 25px; }
.main-nav li li a:hover	{ color: #fff; }

/* Main Body */
.main{ margin:0; padding:0 0 0 320px; }
.section{
	position: relative;
	display: block;
	padding: 40px 40px;
}
.mainBlock {
	margin: 0 auto;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.container	{ margin: 0 auto; max-width: 1200px; text-align: left;}
.title-img	{ margin-right:10px;}

.block-maintitle{}
.block-mainbox	{ margin-bottom: 100px; }
.block-mainbox:last-of-type{ margin-bottom: 0; }
.titleSmall		{ font-size: 0.9em; color: #777; margin: 8px 0; }
.block-line		{ margin: 40px; text-align: center; position: relative; }
.line			{ border-bottom: 1px dashed #ccc; }
.bolckline-icon	{
	background-color: #fff;
	font-size: 18px;
	color: #999;
	position: absolute;
	right: 0;
	left: 0;
	margin: -12px auto 0;
	width: 24px;
}


/* Slider Section */
.slider-block{
	position:relative;
	top:0;
	right:0;
	left:0;
	display:block;
	height: 100vh;
}
.simple-slider {
	position:relative;
	overflow:hidden;
	max-width:100%;
}
.box-viewport {
	background: rgba(0,0,0,0.2);
	position: relative;
	overflow:hidden;
	width:100%;
	height:100%;
	padding:0;
}
.box-viewport ul {
	padding:0;
	margin:0;
}
.box-viewport li {
	background: url(../image/photos/SliderPhoto_1.jpg) repeat center top rgba(0, 0, 0, 0);
	-moz-box-sizing: border-box;
    display: block;
    list-style: none;
    width: auto;
	height: 100vh;
	background-attachment: fixed !important;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.slideItem-word {
	color: #fff;
	position: absolute;
	margin: 0 20px;
	right: 0;
	left: 0;
	overflow:hidden;
	text-shadow: 0 0 12px rgba(0,0,0,0.7);
	text-align: center;
	z-index: 1;
}
.slideItem-word p{ font-size: 1em; color: #fff; opacity: 0.8;}

.box-controls {
	max-width:100%
}
.box-prev, .box-next {
	font-size: 36px;
	color: #fff;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 1em;
	height: 1em;
	text-align: center;
	display: block;
}
.box-prev {
	left: 20px;
}
.box-next {
	right: 20px;
}

/* About Section */
.userProfile { margin: 0 auto;}
.userProfile:after{ content: ""; clear: both; display: table; }
.userProfile .imgProfile { float: right;}
.userProfile .imgProfile img {
	display: block;
	max-width: 300px;
	max-height: 300px;
	border-radius: 5px;
}
.description{
	float: left;
	text-align: left;
	width: calc(100% - 320px);
}
.description p{ margin: 0; line-height: 28px;}
.description p.title{ font-size: 1.2rem; color: #555; font-weight: 600; margin-bottom: 8px;}
.description .icon{
	background-color: #F9A1BC;
	font-size: 1em;
	color: #fff;
	padding: 10px 20px;
	margin-right: 10px;
	display: block;
	max-width: 90px;
	text-align: center;
	border-radius: 5px;
}
.description .icon:hover{
	background-color: #ed6281;
	color: #fff;
}
.description .icon_word{
	padding-left: 7px;
	font-size: 0.9em;
}

/* Skills Block */
.skillsHolder { margin: 50px auto 0;}
.skillBar{ margin-bottom: 48px;}
.skillBar:last-of-type{ margin-bottom: 0; }
.skillbarHolder {
	background-color: #ddd;
    height: 15px;
    position: relative;
	border-radius: 30px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1) inset;
}
.skillLevel{
	float: left;
	color: #555;
	font-size: 0.8rem;
	font-weight: 400;
	line-height: 15px;
	margin-left: 12px;
	display: none;
}
.skillbarTitle {
	color: #555;
	font-size: 0.8rem;
	left: 5px;
	position: absolute;
	top: -25px;
}
.skillbarPercentage {
	background-color: #F9A1BC;
    height: 15px;
    position: absolute;
	left: 0;
    top: 0;
	border-radius: 30px;
}
.bar90{ width: 97%;}
.bar75{ width: 80%;}
.bar50{ width: 50%;}
.bar25{ width: 20%;}

.skillbarPercentage span {
	background: #555;
    color: #fff;
    font-size: 0.8em;
    padding: 4px 6px;
    position: absolute;
    right: -15px;
    top: -35px;
    border-radius: 4px;
}
.skillsHolder-en .skillbarPercentage.bar90 span{ right: -20px;}
.skillsHolder-en .skillbarPercentage.bar75 span{ right: -28px;}
.skillsHolder-en .skillbarPercentage.bar50 span{ right: -38px;}
.skillsHolder-en .skillbarPercentage.bar25 span{ right: -28px;}
.skillbarPercentage span:after {
	border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid #555;
    position: absolute;
	left: 50%;
	bottom: -4px;
    width: 0;
	height: 0;
	content: "";
    margin-left: -5px;
	display: block;
    z-index: 10;
}

/* Features Block */
.featuresHolder{
	margin: 10px auto 0;
	display: inline-block;
}
.features-box{
	float:left;
	width:25%;
	margin-bottom: 10px;
}
.features-icon{
	font-size: 48px;
	color: #666;
    border: 1px solid #555;
	margin: auto;
    padding: 25px;
    width: 48px;
	height: 48px;
	border-radius: 50%;
}
.features-words		{ max-width: 80%; margin: 0 auto; }
.features-words h3	{ color: #666; font-size: 1.3em; margin:10px 0 0; }


/* Resume Section */
.userJob, .userEdu {
	margin: 20px auto;
	text-align: left;
	width: 100%;
}
.jobBox, .eduBox {
	position: relative;
	padding-bottom: 30px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.jobBox:last-of-type, .eduBox:last-of-type{ padding-bottom: 0; }
.jobBox .jobTitle span,
.eduBox .jobTitle span{ 
	font-family: Helvetica, sans-serif;
	background-color: #F9A1BC;
	color: #fff;
	font-size: 0.7rem;
	padding: 3px 8px;
	margin: 0 0 0 24px; 
	border-radius: 15px;
	letter-spacing: 0.5px;
}

.jobMain, .eduMain	{ text-align: left; padding: 0 0 0 24px;}
.jobBox ul{ 
	color: #999;
    font-size: 0.9em;
    list-style: disc outside;
    margin: 8px 0 0 0;
	padding: 0 0 0 15px;
}
.jobBox li{
	line-height: 20px;
}

.jobName, .eduName{
	color: #555;
	font-size: 1rem;
	font-weight: 600;
	line-height: 20px;
	padding-left: 24px;
	margin-top: 12px;
}
.eduSchool{ 
	color: #777; 
	font-size: 0.8em;
	line-height: 20px;
	padding-left: 24px;
}
.jobTitle, .eduTitle{ position: relative; line-height: 20px;}
.jobTitle-icon{ 
	background-color: #fff;
	border: 2px solid #F9A1BC;
    font-size: 14px;
	color: #fff;
    position: absolute;
    top: 5px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	text-align: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.jobBox:before, .eduBox:before{ 
	content: ""; 
	background-color: #F9A1BC; 
	width: 2px; 
	height: calc(100% - 12px); 
	display: block;
	position: absolute;
	left: calc((12px - 2px)/2);
	bottom: -5px;
}
.jobBox:last-of-type:before, .eduBox:last-of-type:before{ bottom: -4px; }

/* Portfolio Section */
.portfolio-block .block-maintitle,
.portfolio-block .block-mainbox{ text-align: center; }
.WorkTab {
	list-style: none;
	margin: 20px auto 12px;
	padding: 0;
}
.TabItem {
	font-size: 0.9em;
	background-color: #eee;
	margin: 0 2px 8px;
    padding: 5px 10px;
	display: inline-block;
	cursor: pointer;
	border-radius: 4px;
}
.TabItem:hover, .focus, .focus:hover {
	background-color: #F9A1BC;
	color:#fff;
}
.WorkBlock	{ padding: 0; margin: 0 auto; }
.WorkContent > ul{ display: none; }
.WorkContent > ul:first-of-type{ display: block; }
.WorkContent > ul:after{ content: ""; clear: both; display: table; }
.WorkContent > ul > li.WorkItem{ float: left; margin: 0 0 16px 16px; width: calc((100%/3) - 12px); display: block;}
.WorkContent > ul > li.WorkItem:nth-of-type(3n+1){ margin-left: 0; }
.WorkPhoto	{ position: relative; border-radius: 5px; overflow: hidden; box-shadow: 0 0 10px rgba(0,0,0,0.25);}
.WorkImg{ display: block; width: 100%; }
.WorkImg img{ height:100%; width: 100%; vertical-align: bottom;}

.Overlay{
	background-color: rgba(0, 0, 0, 0.65);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-o-transition: all .30s linear;
	-webkit-transition: all .30s linear;
	-moz-transition: all .30s linear;
	transition: all .30s linear;
	opacity: 0;
}
.Overlay:hover{ opacity: 1;}

.Overlay .Overlay_view{ color: #fff; text-align: center; }
.Overlay .Overlay_view span{ font-size: 0.8em; font-weight: 300; display: block;}
.Overlay .Overlay_view span.title{ font-size: 1.1em; font-weight: 400; margin-bottom: 8px;}


/* Contact Section */
.message-block{
	border-top: 2px solid #3bd;
	margin: 40px 0;
}
.message-img{ background-color: #3bd; font-size: 26px; color: #fff; position: absolute; left: 0; right: 0; padding: 10px; margin: -22px auto 0; width: 26px; height: 26px; border-radius: 50%;}
.message	{ color: #666; margin: 30px 0;}
.messageBox	{ padding: 20px 10px 0; }

/* Footer */
.main-footer{ background: #333; display: block; padding: 10px 20px;}
.footer-block{ margin: 0 auto 10px;}

/* Footer Copyright */
.footer-copy{ background: #333; font-size: 0.7em; padding: 12px 0;}
.footer-copy p{ margin: 0; }

/* LightBox Style */
#lightbox	{ position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.4); text-align:center;z-index: 1000;}
.lightbox_main	{ height: 100%; width: 100%; display: flex; display: -ms-flexbox; -ms-flex-align: center;}
.lightbox_main2	{ background-color: #fff; padding: 5px; margin: auto; max-width:600px; box-shadow:0 0 25px #111;}
.closeWord, .closeImg{ float: right; color: #555; position: relative; top: 2px; cursor: pointer; text-align: right;}
.closeImg	{ font-size: 18px;top: 4px;margin-left: 3px;}
#content img	{ max-width:600px;width: 100%;}


/* MediaScreen x1000 */
@media screen and (max-width:1200px) {
	.main{ padding-left: 200px; }
	.sticky-nav-container{ width: 200px;}

	.WorkContent > ul > li.WorkItem{ width: calc((100%/2) - 8px); }
	.WorkContent > ul > li.WorkItem:nth-of-type(3n+1){ margin-left: 16px;}
	.WorkContent > ul > li.WorkItem:nth-of-type(2n+1){ margin-left: 0; }
}
/* MediaScreen x768 */
 @media screen and (max-width:768px) {
	.main{ padding-left: 0; }
	.section{ padding: 20px;}
	.sticky-nav-container{ left: -200px; height: 100vh;}
	.mobileBtn{ display: block; }
	
	.block-line{ margin: 40px 20px; }

	.description{ float: none; width: 100%; }
	.userProfile .imgProfile{ float: none; margin-bottom: 20px; }
}
/* MediaScreen x414 */
@media screen and (max-width:414px) {
	.WorkContent > ul > li.WorkItem{ width: 100% !important; margin-left: 0!important;}
	.skillBar:after{ content: ""; clear: both; display: table; }
	.skillbarHolder { float: left; width: calc(100% - 40px);}
	.skillsHolder-en .skillbarHolder { float: left; width: calc(100% - 84px);}
	.skillLevel{ display: block; }
	.skillbarPercentage span{ display: none; }
}

