body{
	background: url(../images/body-bg.jpg);
	font: 14px 'Andika', Aril, sans-serif;
	color: #555;
	margin: 0;
	padding: 0;
}
*:link, *:visited, *:hover, *:active, *:focus , * {
	-o-transition: color .30s linear, background-color .30s linear, border-color .30s linear;
	-webkit-transition: color .30s linear, background-color .30s linear, border-color .30s linear;
	-moz-transition: color .30s linear, background-color .30s linear, border-color .30s linear;
	transition: color .30s linear, background-color .30s linear, border-color .30s linear;
}
a	{ color:#333; text-decoration: none;}
h1	{ font: 700 2.5em/30px 'Buenard', serif; margin: 5px 0;}
h2	{ font: 700 2em/30px 'Buenard', serif; margin: 5px 0;}
h3	{ font: 700 1.5em/30px 'Buenard', serif;}
p	{ line-height: 20px; margin: 5px 0;}

/*---------------------------- header ----------------------------*/
.header-type{ background: url(../images/header-bg.png) repeat-x; height: 75px;}
.header-type .container	{ padding: 0; margin: 0 auto; display: table;}
.navbar		{ width: 250px;}
.navbar ul	{ font: 700 2em/70px 'Buenard', serif; color: #000; padding: 0; margin: 0; list-style: none; text-shadow: 1px 1px 0 rgba(255,255,255,0.3);}
.navbar li	{ display: inline;}
.navbar li a	{ color: #000; padding: 0 10px; cursor: pointer;}
.navbar-left	{ float: left; text-align: right;}
.navbar-right	{ float: right; text-align: left;}

/* Mobile-menu */
.mobile-menu	{ display: none; position: absolute; right: 20px;}
.mobile-menu ul	{ display: none; list-style: none; padding: 0; margin: 0; text-align: center; position: relative; top: 75px; z-index: 99; box-shadow: 0px 2px 10px #000;}
.mobile-menu ul a	{ color: #fff; background: #111; padding: 10px 50px; display: block; cursor: pointer;}
.mobile-menu ul a:hover{ background: #333;}
.mobileBtn		{ height: 32px; width: 32px; position: absolute; right: 10px; top: 17px; padding: 5px; display: block; cursor: pointer;}
.mobile-menu ul:before {border-left: 10px solid rgba(0, 0, 0, 0); border-right: 10px solid rgba(0, 0, 0, 0); border-bottom: 10px solid #111; position: absolute; left: 75%; top: -10px; width: 0; height: 0; content: ""; margin-left: -5px; display: block; z-index: 10;}

/* Logo, Gotop */
.brand-logo	{ background: url(../images/logo_brand.png) no-repeat center top; margin: 0 auto; width: 200px; height: 145px; position: absolute; left: 0; right: 0; top: 0; z-index:10;}
.go-top		{ position: fixed ; bottom:10px; right:10px; background: rgba(0,0,0,0.5); padding: 5px; border-radius: 50%; height: 32px; width: 32px;}

/*---------------------------- main-wrapper ----------------------------*/
.main-wrapper{ min-height: 900px; margin: 20px auto 50px;}

/* Banner */
.banner			{ background-color: #fff; padding: 5px; margin: 0 auto; position: relative; height: 460px; width: 960px; box-shadow: 0 0 5px rgba(0,0,0,0.3);}
.slider-ctrl	{ position: absolute; right: 15px; bottom: 15px; display: inline; z-index: 10;}
.slider-ctrl > a { background-color: rgba(0, 0, 0, 0.4); color: #fff; font-size: 0.8em; padding: 2px 8px; margin: 0 1px; cursor: pointer; border-radius: 50%}
.slider-ctrl > a:hover{ background-color: rgba(0, 0, 0, 0.9);}
.slider-ctrl .enable, .slider-ctrl .enable:hover{ background-color: rgba(0, 0, 0, 0.9);}
.slider-container{ position: relative; overflow: hidden; width: 960px;}
.slider-contents{ position: absolute; left: 0; width: 3840px;}
.slider-contents > div{ float: left; width: 960px;}
.silider-img	{ height: 460px;}
.silider-img img	{ width: 100%; height: 460px;}
.silider-detail	{ position: absolute; bottom: 0; background-color: rgba(0, 0, 0, 0.5); color: #fff; padding: 20px; width: 960px; box-sizing: border-box;}

/* All Section */
.container	{ padding: 10px; margin: 0 auto; max-width: 1000px; display: table;}
.title		{ font: 700 1.8em/30px 'Buenard', serif; color: #333; margin: 0 auto; padding: 25px 0; text-align: center; text-transform: uppercase; width: 80%;}
.title-word	{ margin: -15px auto 0; position: absolute; left: 0; right: 0;}
.title-line-left	{ border-top: 1px solid #333; float:left; width: 38%;}
.title-line-right	{ border-top: 1px solid #333; float:right; width: 38%;}
.descrip	{ color: #333; line-height: 20px; width: 70%; margin: 0 auto; text-align: center;}
#Daily-block .title-line-left, #Daily-block .title-line-right{ width: 30%;}

.row				{ margin: 20px 0;}
.white-row-top		{ background: url(../images/main-wrapper-lace-up.png) repeat-x; height: 10px;}
.white-row-bottom	{ background: url(../images/main-wrapper-lace-down.png) repeat-x; height: 10px;}
.white-row-content	{ background: #fff;}
.white-row-content .descrip{ color: #777;}

/* Meals */
.meal-box		{ float: left; margin: 0 2% 3% 0; width: 32%;}
.last-meal		{ margin-right: 0;}
.meal-photo		{ width: 100%;}
.meal-photo img	{ width: 100%;}
.meals-block	{ list-style: none; padding: 0;}
.meals-block h3	{ text-align: center; margin: 0;}
.meals-block p	{ color: #999; margin: 0; text-align: center;}
.meal-detail	{ margin-top: 5px;}
.special-price	{ float: left; width: 70px;}
.special-price img	{ width: 100%;}
.special-price span	{ color: #fff; font: 300 1.4em/70px 'Andika', Aril, sans-serif; text-transform: uppercase; position: absolute; margin-left: -58px;}
.special-name	{ float: left; font: 700 1.5em/30px 'Buenard', serif; margin-left: 3%; width: 70%;}

/* Menu Tabs */
.menu-tab	{ font: 700 1.2em 'Buenard', serif; list-style: none; margin: 15px auto; padding: 0; text-align: center;}
.tab-item	{ border: 3px solid #e55; color: #e55; margin: 0 2px; padding: 3px 15px; display: inline-block; cursor: pointer;}
.tab-item:hover, .infocus, .infocus:hover { background-color: #e55; color:#fff;}
.menu-content ul		{ padding: 0; margin: 0 auto;}
.menu-content > ul	{ display: none;}
.menu-content > ul:first-of-type{ display: inline-block;}

/* About Section */
.min-photo-boxes{ display: none;}
.view-items		{ margin: 5px auto; width: 60px; display: table}
.view-items > a	{ float: left; background: rgba(0,0,0,0.3); display: inline; width: 10px; height: 10px; margin: 0 5px; border-radius: 5px; cursor: pointer;}
.view-items > a:hover{ background-color: rgba(0, 0, 0, 0.5);}
.view-items .focus, .view-items .focus:hover{ background: rgba(0,0,0,0.5)}
.photo-view		{ width: 620px; margin: 10px auto; text-align: center;}
.photo-contents	{ position: relative; overflow: hidden; width: 620px;}
.photo-boxes	{ position: absolute; left: 0; width: 1860px;}
.photo-boxes > div{ float: left; width: 620px;}
.photo-box		{ height: 380px;}
.photo-box img	{ background-color:#fff; padding: 5px; box-shadow: 0 0 5px rgba(0,0,0,0.3);}

/* Cooks Section */
.person-view{ margin: 10px auto; display: table;}
.person		{ float: left; width: 160px; margin: 0 30px;}
.person img	{ border: 3px solid #fff; width: 160px; height: 160px; border-radius: 160px; box-sizing: border-box;}
.person-detail{ text-align: center;}
.name		{ font: 700 1.7em/30px 'Buenard', serif; color: #333;}
.job-title	{ font-size: 1em; color: #222;}

/* Contact Section */
.contact-main	{ margin: 20px auto; width: 80%; display: table;}
.contact-box	{ float: left; width: 30%; text-align: center; margin: 0 1.6%;}
.contact-item	{ padding: 16px; margin: 0 auto; border: 3px solid #333; border-radius: 100%; width: 48px; height: 48px;}
.contact-detail	{ color:#333; font-size: 1.3em;}

/* Message Section */
.message-main	{ background:#fff; width: 90%; margin: 0 auto; padding: 20px 40px 30px 30px; border-radius: 10px; box-sizing: border-box;}
.message-title	{ color:#e55; font: 700 3em/50px 'Buenard', serif; text-transform: none; margin: 0 auto; padding: 10px 0 20px; text-align: center; width: 80%;}
.message-box	{ margin-bottom: 20px;}
.message-box table{ font: 300 1.5em 'Buenard', serif; color: #999; width:100%; border: 0; margin-bottom: 10px;}
.message-box th, .message-box td	{ padding: 5px;}
.message-box th	{ width: 70px; text-align: right;}
.message-box input{ font: 300 1em 'Buenard', serif; color:#999; border: 0; background: #eee; padding: 5px 10px; border-radius: 5px; width: 100%}
.message-submit	{ font: 700 1.3em/40px 'Buenard', serif; text-align: right;}
.message-submit a		{ color:#e55; border: 3px solid #e55; border-radius: 40px; padding: 5px 30px; cursor: pointer;}
.message-submit a:hover	{ color:#fff; background: #e55;}

/*---------------------------- footer ----------------------------*/
.footer-type{ color: #fff; font-size: 1em; text-align: center;}
.footer-lace{ background: url(../images/footer-lace.png) repeat-x; height: 10px;}
.footer-main{ background-color: #452218;padding: 10px 10px 20px;}
.footer-main a		{ color: #fff; cursor: pointer;}
.footer-main a:hover	{ color: #fe0;}
.social		{ margin: 0 auto;}
.social img	{ width: 40px; height: 40px; margin: 5px 2px;}


/* ---------------------------- MediaScreen ---------------------------- */
@media screen and (max-width:980px){
	.banner				{ height: 345px; width: 720px; }
	.slider-container	{ width: 720px;}
	.silider-img		{ height: 345px;}
	.silider-img img		{ width: 100%; height: 345px;}
	.special-price		{ width: 65px;}
	.special-price span	{ font: 300 1.2em/65px 'Andika', Aril, sans-serif; margin-left: -53px;}
	.special-name		{ font: 700 1.4em/30px 'Buenard', serif;}
}
@media screen and (max-width:900px){ 
	.title-line-left, .title-line-right{ width: 35%;}
	#Daily-block .title-line-left, #Daily-block .title-line-right{ width: 28%;}
	.descrip		{ width: 75%;}
	.meal-box		{ float: left; margin: 0 2.5% 2%; width: 45%;}
	#Special-3		{ display: none;}
	.special-price	{ width: 70px;}
	.special-price img{ width: 100%;}
	.special-price span{ font: 300 1.4em/70px 'Andika', Aril, sans-serif; margin-left: -58px;}
	.special-name	{ font: 700 1.5em/30px 'Buenard', serif; width: 70%;}
}
@media screen and (max-width:750px){
	.banner				{ height: 300px; width: 620px; }
	.slider-container	{ width: 620px;}
	.silider-img		{ height: 300px;}
	.silider-img img		{ width: 100%; height: 300px;}
}
@media screen and (max-width:700px){
	.header-type	{ margin-bottom: 50px;}
	.main-menu-top	{ display: none;}
	.mobile-menu	{ display: block;}
	.brand-logo		{ margin: 0 10px;}
	/* Wrapper Section */
	.banner			{ display: none; }
	.title-line-left, .title-line-right	{ width: 30%;}
	#Daily-block .title-line-left, #Daily-block .title-line-right{ width: 23%;}
	.person			{ float: none; margin: 15px auto;}
	.tab-item		{ display: block; width: 80%; margin: 10px auto;}
	.contact-main	{ margin: 20px auto; width: 80%; display: table;}
	.contact-box	{ float: none; width: 80%; text-align: center; margin: 10px auto 30px;}
	.contact-item	{ padding: 16px; margin: 0 auto; border: 3px solid #333; border-radius: 100%; width: 48px; height: 48px;}
	.contact-detail	{ color:#333; font-size: 1.3em;}
}
@media screen and (max-width:650px){
	.special-name		{ width: 65%;}
	.photo-view			{ display: none;}
	.min-photo-boxes	{ display: block; margin: 0 auto; text-align: center;}
	.min-photo-box		{ width: 80%; margin: 15px auto;}
	.min-photo-box img	{ width: 100%;}
}
@media screen and (max-width:600px){
	.title-line-left, .title-line-right	{ width: 25%;}
	#Daily-block .title-line-left, #Daily-block .title-line-right{ width: 18%;}
}
@media screen and (max-width:500px){
	.title-line-left, .title-line-right	{ border-top: 0px;}
	.meal-box		{ margin: 0 10% 5%; width: 80%;}
	#Special-3		{ display: block;}
	.message-title	{ font: 700 2.1em/20px 'Buenard', serif;}
	.message-box table{ font: 300 1.2em 'Buenard', serif;}
}
@media screen and (max-width:400px){
	.special-price	{ float: none; position:absolute; margin: -85px 0 0 5px; width: 70px;}
	.special-price img{ width: 100%;}
	.special-name	{ width: 100%;}
	.meal-box		{ margin: 0 5% 5%; width: 90%;}
	.message-main	{ padding: 20px 30px 30px 20px;}
	.message-title	{ font: 700 1.8em/20px 'Buenard', serif;}
}